// colors
@color_background-body: #f4f4f4; // body background
@color_background-content: #fff; // container background
@color_background-hr: #ddd;

@color_text-main: #666;

// typography
@font_main: arial, sans-serif;
@font_heading: arial, sans-serif;

@font__line-height-body: 1.5;
